<!DOCTYPE html>
<html>
  <title> Suck my finger </title>
  <head>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="navbar">
        <div class="navbar-left">
            <a class="navbar-link" href="{{ '/' }}">Articles</a>
            <a class="navbar-link" href="{{ '/registration' }}">Register</a>
        </div>
        <div class="navbar-right">
            {% if request.user.is_authenticated %}
                <a class="navbar-link" href="{{ '/logout' }}">Log Out</a>
            {% else %}
                <a class="navbar-link" href="{{ '/login' }}">Log In</a>
            {% endif %}
        </div>
    </div>
    <div class='info_message'>
      {{ message }}
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
